<main class="row">  
  <h1>Coffee shop cash register</h1>
  <section class="col-xs-12 col-sm-4">
    <h2>Menu</h2>
    <ul>
      <% @menu.each do |item| %>
        <li><a href="#" class="product"><%=  item[0] %></a></li>
        <li>Price: £<%= item[1] %></li>
      <% end %>
    </ul>
  </section>
  <section class="col-xs-12 col-sm-4">  
    <h2>Current order:</h2>
    <form action="/customer_update" method="post">
      Add customer<input type="text" name="customer">
    </form>
    Update table number:
    <select>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <h3>Order table number:</h3>
    <p id="table-number"><%= @order.table_number %></p>
    <h3>Customers:</h3>
    <% if @order.customers %>
      <ul>
        <% @order.customers.each do |customer| %>
          <li><%= customer %></li>
        <% end %>
      </ul>    
    <% end %>  
    <ul id="dynamic-list" class="dynamic-ul">
      <% @order.line_order.each do |line| %>
        <li><%= line[:item] %> <%= line[:number] %> x <%= line[:item_price] %></li>
      <% end %>
    </ul>

    <h3>Discounts:</h3>
    <ul>
      <% @order.format_discounts.each do |discount| %>
        <li><%= discount %></li>
      <% end %>  
    </ul>

    <ul id="dynamic-costs-list" class="dynamic-ul">
      <li>Pretax total: £<%= @order.total_up[:total] %></li>
      <li>VAT: <%= @calculator.tax_percentage %>%</li>
      <li>Total due: £<%= @order.total_up[:tax_applied] %></li>
    </ul>

    <a id="generate-receipt" href="#">Generate receipt</a>
  </section>  
  <section class="col-xs-12 col-sm-4">
    <h2>Receipt</h2>
    <p><%= @receipt_list['date'] %></p>
    <p><%= @receipt_list['shop_name'] %></p>
    <p><%= @receipt_list['address'] %></p>
    <p>Phone: <%= @receipt_list['phone'] %></p>
    <% if @receipt_order %>  
      <p>Table: <%= @receipt_order['table_number'] %>/<%= @receipt_list['customers_count'] %></p>
      <h3>Customers:</h3>
      <ul>
      <% @receipt_order['customers'].each do |customer| %>
        <li><%= customer %></li>
      <% end %>
      </ul>
      <% @receipt_order['line_order'].each do |item| %>
        <p><%= item['item'] %>  <%= item['number'] %> x <%= item['item_price'] %></p>
      <% end %>
      <h3>Discounts:</h3>
      <ul>
        <% @order.format_discounts.each do |discount| %>
          <li><%= discount %></li>
        <% end %>  
      </ul>
      <ul>  
        <li>Pre tax total: £<%= @receipt_order['total'] %></li>
        <li>VAT: <%= @calculator.tax_percentage %>%</li>
        <li>Total due: £<%= @receipt_order['tax_applied'] %></li>
      </ul>
    <% end %>  
  </section>  
</main>  
