<h1>Coffee shop cash register</h1>
<h2>Menu</h2>
<ul>
  <% @menu.each do |item| %>
    <li><a href="#" class="product"><%= item[0] %></a></li>
    <li>Price: £<%= item[1] %></li>
  <% end %>
</ul>
<h2>Current Order</h2>
<ul id="dynamic-list" class="dynamic-ul">
</ul>
<ul id="dynamic-costs-list" class="dynamic-ul">
</ul>

<h2>Receipt</h2>
<% if @receipt %>
  <p><%= @receipt.date %></p>
  <p><%= @shop_name %></p>
  <p><%= @address %></p>
  <p>Phone: <%= @phone %></p>
<% end %>