<section id="order" class="col-xs-12 col-sm-4">  
  <h2>Current order</h2>
  <section>
    <form action="/customer_update" method="post">
      <h3>Add customer</h3>
      <input type="text" name="customer" />
    </form>
  </section>
  <section>  
    <h3>Update table number:</h3>
    <select>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </section> 
  
  <section>
    <h3>Order table number: <span id="table-number"><%= @order.table_number %></span></h3>
  </section>

  <section>    
    <h3>Customers:</h3>
    <% if @order.customers %>
      <ul>
        <% @order.customers.each do |customer| %>
          <li> - <%= customer %></li>
        <% end %>
      </ul>    
    <% end %>  
  </section>  
  <section>
    <h3>Order items</h3>
    <ul id="dynamic-list" class="dynamic-ul">
      <% @order.line_order.each do |line| %>
        <li> - <%= line[:item] %> <%= line[:number] %> x £<%= line[:item_price] %></li>
      <% end %>
    </ul>
  </section>
  <section>    
    <ul>
      <% @order.format_discounts.each do |discount| %>
        <li><%= discount %></li>
      <% end %>  
    </ul>
  </section>  
  <section>
    <ul id="dynamic-costs-list" class="dynamic-ul">
      <li>Pretax total: £<%= @order.total_up[:total] %></li>
      <li>VAT: <%= @order.calculator.tax_percentage %>%</li>
      <li>Total due: £<%= @order.total_up[:tax_applied] %></li>
    </ul>
    <% if @warning %>
      <p><%= @warning %></p>
    <% end %>
  </section>  

  <section>
    <form id="generate-receipt" action="/generate_receipt" method="post">
      <h3>Cash given</h3><input type="text" name="cash_given">
    </form>  
  </section>
  <section>  
    <form method="post" action="/clear_order">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Clear current order">
    </form>
  </section>  
</section> 