<section id="receipt" class="col-xs-12 col-sm-4">
  <section>  
    <h2>Receipt</h2>
    <p><%= @receipt_list['date'] %></p>
    <p><%= @receipt_list['shop_name'] %></p>
    <p><%= @receipt_list['address'] %></p>
    <p>Phone: <%= @receipt_list['phone'] %></p>
  </section>
  <% if @receipt_order %>    
    <section>
      <p>Table: <%= @receipt_order['table_number'] %>/<%= @receipt_list['customers_count'] %></p>
      <h3>Customers:</h3>
      <ul>
        <% @receipt_order['customers'].each do |customer| %>
          <li><%= customer %></li>
        <% end %>
      </ul>    
    </section>
    <section>    
      <h3>Order items:</h3>
      <% @receipt_order['line_order'].each do |item| %>
        <p><%= item['item'] %>  <%= item['number'] %> x <%= item['item_price'] %></p>
      <% end %>
    </section>
    <section>    
      <h3>Discounts:</h3>
      <ul>
        <% @order.format_discounts.each do |discount| %>
          <li><%= discount %></li>
        <% end %>  
      </ul>
    </section>
    <section>    
      <ul>  
        <li>Pre tax total: £<%= @receipt_totals['total'] %></li>
        <li>VAT: <%= @receipt_totals['tax_percentage'] %>%</li>
        <li>Total due: £<%= @receipt_totals['tax_applied'] %></li>
        <li>Amount paid: £<%= @receipt_totals['amount_paid'] %></li>
        <li>Change given: £<%= @receipt_totals['change']%></li>
      </ul>
    </section>    
  <% end %>    
</section>  