<p><%= @receipt_list['date'] %></p>
<p><%= @receipt_list['shop_name'] %></p>
<p><%= @receipt_list['address'] %></p>
<p>Phone: <%= @receipt_list['phone'] %></p>
<p>Table: <%= @receipt_list['order']['table_number'] %>/<%= @receipt_list['customers_count'] %></p>